.u-section-1 .u-sheet-1 {
  min-height: 47px;
} .u-section-2 {
  background-image: linear-gradient(white, #f5f7fa);
}

.u-section-2 .u-sheet-1 {
  min-height: 1377px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 102px 78px 0 auto;
  padding: 14px 47px 15px;
}

.u-section-2 .u-group-1 {
  min-height: 58px;
  width: 1016px;
  margin: 11px auto 0 46px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 11px 221px 0 10px;
}

.u-section-2 .u-group-2 {
  width: 1016px;
  min-height: 616px;
  margin: 19px auto 60px 19px;
}

.u-section-2 .u-table-1 {
  width: 1016px;
  margin: 0 -27px 0 auto;
}

.u-block-d14c-46 {
  border-style: double;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-body-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-6 {
  border-style: double;
}

.u-section-2 .u-table-cell-7 {
  border-style: double;
}

.u-section-2 .u-table-cell-8 {
  border-style: double;
}

.u-section-2 .u-table-cell-9 {
  border-style: double;
}

.u-section-2 .u-table-cell-10 {
  border-style: double;
}

.u-section-2 .u-table-cell-11 {
  background-image: none;
  border-style: double;
}

.u-section-2 .u-table-cell-12 {
  background-image: none;
  border-style: double;
}

.u-section-2 .u-table-cell-13 {
  background-image: none;
  border-style: double;
}

.u-section-2 .u-table-cell-14 {
  background-image: none;
  border-style: double;
}

.u-section-2 .u-table-cell-15 {
  background-image: none;
  border-style: double;
}

.u-section-2 .u-table-cell-16 {
  border-style: double;
}

.u-section-2 .u-table-cell-17 {
  border-style: double;
}

.u-section-2 .u-table-cell-18 {
  border-style: double;
}

.u-section-2 .u-table-cell-19 {
  border-style: double;
}

.u-section-2 .u-table-cell-20 {
  border-style: double;
}

.u-section-2 .u-table-cell-21 {
  border-style: double;
}

.u-section-2 .u-table-cell-22 {
  border-style: double;
}

.u-section-2 .u-table-cell-23 {
  border-style: double;
}

.u-section-2 .u-table-cell-24 {
  border-style: double;
}

.u-section-2 .u-table-cell-25 {
  border-style: double;
}

.u-section-2 .u-table-cell-26 {
  border-style: double;
}

.u-section-2 .u-table-cell-27 {
  border-style: double;
}

.u-section-2 .u-table-cell-28 {
  border-style: double;
}

.u-section-2 .u-table-cell-29 {
  border-style: double;
}

.u-section-2 .u-table-cell-30 {
  border-style: double;
}

.u-section-2 .u-table-cell-31 {
  border-style: double;
}

.u-section-2 .u-table-cell-32 {
  border-style: double;
}

.u-section-2 .u-table-cell-33 {
  border-style: double;
}

.u-section-2 .u-table-cell-34 {
  border-style: double;
}

.u-section-2 .u-table-cell-35 {
  border-style: double;
}

.u-section-2 .u-table-cell-36 {
  background-image: none;
  border-style: double;
}

.u-section-2 .u-table-cell-37 {
  background-image: none;
  border-style: double;
}

.u-section-2 .u-table-cell-38 {
  background-image: none;
  border-style: double;
}

.u-section-2 .u-table-cell-39 {
  background-image: none;
  border-style: double;
}

.u-section-2 .u-table-cell-40 {
  background-image: none;
  border-style: double;
}

.u-section-2 .u-table-cell-41 {
  border-style: double;
}

.u-section-2 .u-table-cell-42 {
  border-style: double;
}

.u-section-2 .u-table-cell-43 {
  border-style: double;
}

.u-section-2 .u-table-cell-44 {
  border-style: double;
}

.u-section-2 .u-table-cell-45 {
  border-style: double;
}

.u-section-2 .u-table-cell-46 {
  border-style: double;
}

.u-section-2 .u-table-cell-47 {
  border-style: double;
}

.u-section-2 .u-table-cell-48 {
  border-style: double;
}

.u-section-2 .u-table-cell-49 {
  border-style: double;
}

.u-section-2 .u-table-cell-50 {
  border-style: double;
}

.u-section-2 .u-table-cell-51 {
  border-style: double;
}

.u-section-2 .u-table-cell-52 {
  border-style: double;
}

.u-section-2 .u-table-cell-53 {
  border-style: double;
}

.u-section-2 .u-table-cell-54 {
  border-style: double;
}

.u-section-2 .u-table-cell-55 {
  border-style: double;
}

.u-block-d14c-35 {
  background-image: none;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -571px 37px 0 auto;
  padding: 6px 6px 6px 5px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 37px 0 auto;
  padding: 6px 6px 6px 5px;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 37px 0 auto;
  padding: 6px 6px 6px 5px;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 37px 0 auto;
  padding: 6px 6px 6px 5px;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 37px 0 auto;
  padding: 6px 6px 6px 5px;
}

.u-section-2 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 37px 0 auto;
  padding: 6px 6px 6px 5px;
}

.u-section-2 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 37px 0 auto;
  padding: 6px 6px 6px 5px;
}

.u-section-2 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 37px 0 auto;
  padding: 6px 6px 6px 5px;
}

.u-section-2 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 37px 0 auto;
  padding: 6px 6px 6px 5px;
}

.u-section-2 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 37px 0 auto;
  padding: 6px 6px 6px 5px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 155px;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-table-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-11 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 720px;
  }

  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }
}