 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/miu2-14.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 786px;
}

.u-section-1 .u-shape-1 {
  width: 611px;
  height: 397px;
  margin: 102px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: -368px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 13px auto 0 409px;
  padding: 11px 116px 13px 114px;
}

.u-section-1 .u-image-1 {
  width: 327px;
  height: 50px;
  margin: -49px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 16px auto 0;
}

.u-section-1 .u-form-1 {
  height: 183px;
  margin: 16px 385px 60px 401px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 209px;
    padding: 39px 138px 40px 137px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 285px;
    margin-left: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 175px;
    margin-left: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 85px;
    margin-left: 101px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}