.u-section-1 .u-sheet-1 {
  min-height: 732px;
}

.u-section-1 .u-shape-1 {
  width: 1198px;
  height: 86px;
  background-image: none;
  margin: 47px -29px 0;
}

.u-section-1 .u-text-1 {
  margin: -62px 335px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 1198px;
  height: 64px;
  background-image: none;
  margin: 57px -29px 0;
}

.u-section-1 .u-text-2 {
  margin: -52px auto 0;
}

.u-section-1 .u-group-1 {
  width: 860px;
  min-height: 431px;
  margin: 83px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  background-image: none;
  margin: 19px -17px 0 17px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 327px;
  margin: -25px 0 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 412px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 276px;
  }

  .u-section-1 .u-shape-2 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-group-1 {
    margin-top: -17px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 211px;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 272px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 158px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 92px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 99px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 443px;
}

.u-section-2 .u-group-1 {
  width: 952px;
  min-height: 414px;
  margin: 15px 0 15px auto;
}

.u-section-2 .u-text-1 {
  line-height: 2;
  background-image: none;
  margin: 22px auto 0 -26px;
}

.u-section-2 .u-form-1 {
  height: 327px;
  margin: -7px 118px 0 -36px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-input-1 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 112px;
    width: 860px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 535px;
}

.u-section-3 .u-text-1 {
  line-height: 2;
  background-image: none;
  margin: 60px 0 0 182px;
}

.u-section-3 .u-form-1 {
  height: 567px;
  margin: 20px 110px 60px 182px;
}

.u-section-3 .u-form-group-1 {
  margin-left: 0;
}

.u-section-3 .u-input-1 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-form-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 92px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-form-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-text-1 {
  line-height: 2;
  background-image: none;
  margin: 55px -192px 0 192px;
}

.u-section-4 .u-form-1 {
  height: 327px;
  margin: 34px 106px 0 192px;
}

.u-section-4 .u-form-group-1 {
  margin-left: 0;
}

.u-section-4 .u-input-1 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  background-image: none;
  margin: 34px 34px 60px auto;
  padding: 9px 41px 11px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-form-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 98px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-form-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-form-1 {
    width: 340px;
  }
}