 .u-section-1 {
  background-image: url("images/839ca099-1e2b-1220-d705-f157a9c6f43b.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 759px;
}

.u-section-1 .u-text-1 {
  width: 525px;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 83px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 474px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-family: Allerta;
  font-size: 1.875rem;
  margin: 22px 38px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 2.2;
  margin: 15px 23px 0 15px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 474px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 27px 30px;
}

.u-section-1 .u-image-1 {
  width: 213px;
  height: 213px;
  background-image: url("images/fggf.jpg");
  background-position: 50% 50%;
  margin: -94px auto 0;
}

.u-section-1 .u-text-4 {
  font-family: "PT Sans Caption";
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 23px 13px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 129px auto 0;
  padding: 18px 46px 20px 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 162px;
    height: 162px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    padding: 13px 31px 13px 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 143px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 459px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}